---
title: Index Page
---
extends layouts/_layout
block content
  include ./home/intro.jade
  include ./home/advantages.jade
  include ./home/wherefore.jade
  include ./home/using.jade
  include ./home/announcing.jade
  include ./home/comment.jade
  