footer.footer
  .container
    .footer__content
      .footer__block
        a(href="#")
          img(src="./img/logo__footer.png", alt="")
      .footer__block
        b Разделы сайта
        a(href="#")
          p Найти квартиру
        a(href="#")
          p Сдать квартиру
        a(href="#")
          p Вопросы и ответы
      .footer__block
        b Информация
        a(href="#")
          p Пользовательское соглашение
        a(href="#")
          p Обработка персональных данных
        a(href="#")
          p Договор аренды
      .footer__block
        b Мы в соцсетях
        .block__network
          a.network__icon(href="#")
            i.icon.icon-telegram.svg
          a.network__icon(href="#")
            i.icon.icon-vk.svg
    .footer__connection
      .connection__text
      .connection__text
        a(href="#") hello@gnezdo.ru
      .connection__text
        a(href="#") 8 (981) 783-45-76
      .connection__text
        p © 2018 «Уютное гнездышко»
