footer.footer
  .container
    .footer__content
      .row
        .col-md-3
          .footer__block
            a(href="#")
             img(src="./img/logo__footer.png", alt="")
        .col-md-3
          .footer__block
            b Разделы сайта
            a(href="#")
              p Найти квартиру
            a(href="#")
              p Сдать квартиру
            a(href="#")
              p Вопросы и ответы
        .col-md-3
          .footer__block
            b Информация
            a(href="#")
              p Пользовательское соглашение
            a(href="#")
              p Обработка персональных данных
            a(href="#")
              p Договор аренды
        .col-md-3
          .footer__block
            b Мы в соцсетях
            a(href="#")
              img(src="./img/telegram_footer.png", alt="")
            a(href="#")
              img(src="./img/vk_footer.png", alt="")
    .footer__connection
      .row
        .col-md-3
          .connection__text
        .col-md-3
          .connection__text
           a(href="#") hello@gnezdo.ru
        .col-md-3
          .connection__text
           a(href="#") 8 (981) 783-45-76
        .col-md-3
          .connection__text
           p © 2018 «Уютное гнездышко»
