//BEGIN header
header.header
  .container
    .header__content
      .header__logo
        img(src="./img/logo.png")
        select
          option(value="Санкт-Петербург") Санкт-Петербург
          option(value="Москва") Москва
          option(value="Ейск") Ейск
      .header__entry
        button 
          p Вход
        button
          p Подать объявление
//END header
  