//BEGIN header
header.header
  .container
    .header__content
      .header__logo
        a(href="index.html") 
          img(src="./img/logo.png")
        select
          option(value="Санкт-Петербург") Санкт-Петербург
          option(value="Москва") Москва
          option(value="Ейск") Ейск
      .header__entry
        a(href="#entrance" data-pop) Вход
        a(href="ads.html") Подать объявление
//END header
  