.advantages
  padding-top: 90px
  padding-bottom: 61px
  position: relative
  &__background
    position: absolute
    left: 0
    z-index: -1
  .advantages__block
    width: 100%
    display: inline-block
    justify-content: center
    max-width: 700px
    position: relative
    left: 50%
    transform: translate(-50%)
    &__video
      width: 100%
      height: 460px
      box-shadow: 0px 11px 21px 0 rgba(20, 19, 23, 0.09)
      background-color: #89f8c5
      overflow: hidden
      border-radius: 6px
      position: relative
      img
        +object-fit(cover)
        width: 100%
        height: 100%
      a
        width: 100%
        height: 100%
        position: absolute
        top: 0
        right: 0
        display: flex
        justify-content: center
        align-items: center
        text-decoration: none
        i
          font-size: 71px
    &__text
      h4
        font-size: 36px
        font-weight: 500
        width: 97%
        font-style: normal
        font-stretch: normal
        line-height: 1.33
        letter-spacing: normal
        text-align: left
        color: #3c4450
        padding-bottom: 42px
        position: relative
        &::before
          content: ""
          width: 46px
          height: 5px
          background-image: linear-gradient(to bottom, #42d79f, #27c8ca)
          display: block
          position: absolute
          left: 0
          bottom: 0
      p
        font-size: 16px
        font-weight: normal
        font-style: normal
        font-stretch: normal
        line-height: 1.63
        letter-spacing: normal
        text-align: left
        color: #707984
        padding-top: 42px
        &:first-cild
          border-top: 2px solid #42d79f
    &__button
      padding-top: 61px
      a
        text-decoration: none
        margin-top: 41px
        margin-right: 30px
        background: none
        border: 2px solid #27c8ca
        border-radius: 5px
        padding: 16px 21px 16px 16px
        font-size: 16px
        font-weight: bold
        color: #3c4450
        &:hover
          background: linear-gradient(to bottom, #42d79f, #26c8cb)
          color: #ffffff
          i
            background: none
            color: #ffffff !important
        i
          font-size: 21px
          position: relative
          top: 3px
          background-image: linear-gradient(to bottom, #42d79f, #26c8cb)
          margin-right: 15px
          color: #7e75bd
          -webkit-background-clip: text
          background-clip: text
          -webkit-text-fill-color: transparent