.announcing
  &__title
    text-align: center
    padding-top: 65px
    padding-bottom: 82px
    h2 
      font-size: 36px
      font-weight: 500
      color: #3c4450
    h3
      font-size: 22px
      font-weight: 500
      color: #707984
  &__example
    .announcing__block
      .announcing__block__positison
        padding: 15px
        border-radius: 5.8px
        box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.1)
        h4
          font-size: 13px
          font-weight: 700
          color: #3c4450
          text-align: left
          border-bottom: 2px solid #f2f5fa
          padding-bottom: 15px
        img
          padding: 15px 9px 15px 0
        p
          font-size: 11px
          font-weight: 500
          color: #3c4450
      .announcing__block__inform
        display: inline-flex
        padding-top: 15px
        border-top: 2px solid #f2f5fa
        
        img
          padding: 0 7px
        p
          font-size: 11px
          font-weight: 500
          color: #3c4450
          padding-right: 9px
        b
          font-size: 13px
          font-weight: 700
          color: #3c4450
          padding-right: 22px
  button
    background: none
    border: 2px solid #27c8ca
    border-radius: 5px
    margin-top: 58px
    p
      padding: 20px 43px 21px 42px
      font-size: 16px
      font-weight: bold
      color: #3c4450
