.intro
  background-image: url(../img/backgraund__intro.jpg)
  background-repeat: no-repeat
  background-position: 50% 50%
  background-size: cover
  padding-top: 89px
  height: 621px
  +r(770)
    padding-left: 20px
    padding-right: 20px
    padding-top: 40px
  &__block
    display: flex
    align-items: center
    flex-direction: column
    padding-top: 155px
    +r(375)
      padding-top: 115px
    h1
      font-size: 36px
      font-weight: 500
      font-style: normal
      font-stretch: normal
      line-height: 1.28
      letter-spacing: normal
      text-align: center
      color: #ffffff
      padding-bottom: 40px
      +r(625)
        font-size: 30px
      +r(375)
        font-size: 25px
    .form
      border-radius: 7px
      max-width: 820px
      display: flex
      flex-direction: column
      width: 100%
      +center
      &__line
        display: flex
        width: 100%
        margin-bottom: 3px
        flex-direction: row
        +center 
        +r(690)
          flex-direction: column
        .selectize-control.single
          width: 30%
          margin-bottom: -3px
          +r(690)
            width: 90%
            margin-bottom: 2px
          .selectize-input.items
            background-color: #ffffff
            padding: 13px
            color: #5e697b
            font-size: 14px
            font-weight: normal
            text-align: left
            border: none
            border-radius: 0
            line-height: 1
            border-top-left-radius: 7px
            +r(690)
              border-top-right-radius: 7px
        .selectize-input input
          display: none !important
      &__input
        width: 40%
        margin: 0 3px
        +r(690)
          width: 90%
        +r(425)
          padding: 0
        input
          padding: 13px
          background-color: #ffffff
          font-size: 12px
          font-weight: normal
          text-align: left
          color: #5e697b
          width: 100%
      &__block
        display: flex
        text-align: center
        width: 30%
        border-top-right-radius: 7px
        overflow: hidden
        +r(690)
          width: 90%
          border-top-right-radius: 0px
          margin: 5px 0
        input[type="radio"]
          display: none 
        input[type="radio"]:checked + label
          color: #ffffff
          background-color: #36d1b2
        label
          display: block
          font-size: 13px
          font-weight: normal
          color: #5e697b
          background-color: #ffffff
          padding: 13px
          width: 100%
          border-right: 1px solid #dddddd
          +r(375)
            font-size: 10px
        label:hover
          background-color: #36d1b2
      &__quantity
        display: flex
        text-align: center
        width: 30%
        border-bottom-left-radius: 7px
        overflow: hidden
        +r(690)
          width: 90%
          border-bottom-left-radius: 0px
        input[type="radio"]
          display: none 
        input[type="radio"]:checked + label
          color: #ffffff
          background-color: #36d1b2
        label
          display: block
          font-size: 13px
          font-weight: normal
          color: #5e697b
          background-color: #ffffff
          padding: 13px
          width: 100%
          border-right: 1px solid #dddddd
          +r(375)
            font-size: 10px
            padding: 13px 9px
        label:hover
          background-color: #36d1b2
      &__date
        display: flex
        width: 40%
        margin: 0 3px
        +r(690)
          width: 90%
          margin: 5px 0
        +r(425)
          padding: 0
        input
          max-width: 95px
          padding: 13px 17px
          border-right: 1px solid #dddddd 
          +r(487)
            width: 100%
          +r(375)
            padding: 13px 5px
        input[type="checkbox"] 
          display: none
        input[type="checkbox"] + label::before 
          color: transparent
          content: $icon-checked
          font-family: "iconfont"
          height: 16px
          width: 16px
          font-size: 10px
          background: #36d1b2
          border-radius: 2px
          margin-right: 9px
          +center
        input[type="checkbox"]:checked + label::before 
          color: #ffffff
        label
          width: 100%
          display: flex
          justify-content: center
          font-size: 13px
          font-weight: normal
          color: #5e697b
          background-color: #ffffff
          align-items: center
        +r(480)
          padding: 0 3px
          font-size: 10px
          
      &__button
        width: 30%
        +r(690)
          width: 90%
        input
          font-size: 12px
          font-weight: 500
          text-align: center
          color: #ffffff
          background-image: linear-gradient(to bottom, #42d79f, #26c8cb)
          padding: 13px 
          width: 100%
          border-bottom-right-radius: 7px
          +r(690)
            border-bottom-left-radius: 7px
