.using
  padding-top: 116px
  &__title
    h2
      font-size: 36px
      color: #3c4450
      font-weight: 500
      text-align: center
    h3
      font-size: 22px
      color: #707984
      font-weight: 500
      text-align: center
      padding-bottom: 83px
  &__block
    div
      font-size: 100px
      color: #25ce98
      padding-bottom: 31px
      text-transform: uppercase
      background: linear-gradient(to bottom, #25ce98, #26c8cb)
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent
    p
      font-size: 18px
      font-weight: 500
      color: #707984
      padding-bottom: 50px
      padding-top: 15px
      width: 145%
    b
      font-size: 16px
      font-weight: 700
      color: #3c4450
    button:first-child
      box-shadow: 0.7em 0.7em 15px rgba(122,122,122,0.5)
    button
      margin-top: 10px
      background: #ffffff
      border-radius: 
      position: relative
      &:after
        content: ''
        position: absolute
        right: -22px 
        top: 32px
        border: 10px solid transparent
        border-left: 11px solid white  
      &:hover
        box-shadow: 0.7em 0.7em 15px rgba(122,122,122,0.5)
      p
        font-size: 18px
        color: #3c4450
        text-align: center
        padding: 29px 53px 31px 40px
        width: 100%
    
        
            