.wherefore
  &__title
    h2
      font-size: 36px
      font-weight: 500
      color: #3c4450
      text-align: center
    h3
      font-size: 22px
      font-weight: 500
      color: #707984
      text-align: center
      padding-bottom: 39px
  &__block
    padding-top: 54px
    a
      text-decoration: none
    &__text
      padding-left: 17px
      h4
        font-size: 18px
        font-weight: 700
        color: #3c4450
        text-align: left
        padding-bottom: 11px
      p
        font-size: 16px
        font-weight: 500
        line-height: 1.63
        text-align: left
        color: #707984