@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('eot'),
    url('../fonts/iconfont.woff2') format('woff2'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$icon-checked: "\EA01";
$icon-close: "\EA02";
$icon-comment: "\EA03";
$icon-down-arrow: "\EA04";
$icon-email: "\EA05";
$icon-facebook-logo: "\EA06";
$icon-favorite: "\EA07";
$icon-google-plus: "\EA08";
$icon-information: "\EA09";
$icon-location: "\EA0A";
$icon-locked: "\EA0B";
$icon-metro: "\EA0C";
$icon-play: "\EA0D";
$icon-telegram: "\EA0E";
$icon-vk: "\EA0F";


%icon {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  @extend %icon;
  display: inline-block;
}

.icon-checked:before { content: $icon-checked; }
.icon-close:before { content: $icon-close; }
.icon-comment:before { content: $icon-comment; }
.icon-down-arrow:before { content: $icon-down-arrow; }
.icon-email:before { content: $icon-email; }
.icon-facebook-logo:before { content: $icon-facebook-logo; }
.icon-favorite:before { content: $icon-favorite; }
.icon-google-plus:before { content: $icon-google-plus; }
.icon-information:before { content: $icon-information; }
.icon-location:before { content: $icon-location; }
.icon-locked:before { content: $icon-locked; }
.icon-metro:before { content: $icon-metro; }
.icon-play:before { content: $icon-play; }
.icon-telegram:before { content: $icon-telegram; }
.icon-vk:before { content: $icon-vk; }
