section.advantages
  .container
    .advantages__block
      img(src="./img/svgo/video.png", alt="")
      h4 Посмотрите видео о том, какие мы хорошие и прогрессивные
      p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      p Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
      button 
        p Канал в телеграме
      button 
        p Группа вконтакте
      img(src="./img/svgo/backgraund__adv.png", alt style= "display: none")