section.advantages
  img.advantages__background(src="./img/backgraund__adv.png", alt="")
  .container
    .advantages__block
      .advantages__block__video
        img(src="./img/video.png", alt="")
      .advantages__block__text
        h4 Посмотрите видео о том, какие мы хорошие и прогрессивные
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        p Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
      .advantages__block__button
        a(href="#")
          i.icon.icon-telegram
          | Канал в телеграме
        a(href="#") 
          i.icon.icon-vk
          | Группа вконтакте
        