section.announcing
  img.announcing__background(src="./img/backgraund__adv.png", alt="")
  img.announcing__background__right(src="./img/backgraund__ri.png", alt="")
  .container
    .announcing__title
      h2 Последние добавленные объявления в Санкт-Петербурге
      h3 В час публикуется около 100500 объявлений.
    .announcing__example
      .row
        .col-md-3
          .announcing__block
          a(href="#")
            a(href="https://placeholder.com/261x137")
              img(src="https://via.placeholder.com/261x137/36d1b2.png", alt="")
            .announcing__block__positison
              h4 Комната в аренду в 6-комнатной квартире
              .announcing__block__positison__info
                i.icon.icon-information
                p Без залога
              .announcing__block__positison__info
                i.icon.icon-metro
                p Коммендантский проспект
              .announcing__block__positison__info
                i.icon.icon-location
                p Невский пр-кт, 156, Санкт-Петербург
            .announcing__block__inform
              b 9 000 ₽
              i.icon.icon-favorite
              p В избранное
              i.icon.icon-comment
              p 5
        .col-md-3
          .announcing__block
            a(href="#")
              img(src="./img/announcing__block.png", alt="")
              .announcing__block__positison
                h4 Комната в аренду в 6-комнатной квартире
                .announcing__block__positison__info
                  img(src="./img/info.png", alt="")
                  p Без залога
                .announcing__block__positison__info
                  img(src="./img/metro.png", alt="")
                  p Коммендантский проспект
                .announcing__block__positison__info
                  img(src="./img/location.png", alt="")
                  p Невский пр-кт, 156, Санкт-Петербург
                .announcing__block__inform
                  b 9 000 ₽
                  img(src="./img/like.png", alt="")
                  p В избранное
                  img(src="./img/comment.png", alt="")
                  p 5
        .col-md-3
          .announcing__block
            a(href="#")
              img(src="./img/announcing__block.png", alt="")
              .announcing__block__positison
                h4 Комната в аренду в 6-комнатной квартире
                .announcing__block__positison__info
                  img(src="./img/info.png", alt="")
                  p Без залога
                .announcing__block__positison__info
                  img(src="./img/metro.png", alt="")
                  p Коммендантский проспект
                .announcing__block__positison__info
                  img(src="./img/location.png", alt="")
                  p Невский пр-кт, 156, Санкт-Петербург
                .announcing__block__inform
                  b 9 000 ₽
                  img(src="./img/like.png", alt="")
                  p В избранное
                  img(src="./img/comment.png", alt="")
                  p 5
        .col-md-3
          .announcing__block
            a(href="#")
              img(src="./img/announcing__block.png", alt="")
              .announcing__block__positison
                h4 Комната в аренду в 6-комнатной квартире
                .announcing__block__positison__info
                  img(src="./img/info.png", alt="")
                  p Без залога
                .announcing__block__positison__info
                  img(src="./img/metro.png", alt="")
                  p Коммендантский проспект
                .announcing__block__positison__info
                  img(src="./img/location.png", alt="")
                  p Невский пр-кт, 156, Санкт-Петербург
                .announcing__block__inform
                  b 9 000 ₽
                  img(src="./img/like.png", alt="")
                  p В избранное
                  img(src="./img/comment.png", alt="")
                  p 5
    .annoncing__button
      a(href="#") Все объявления