section.announcing
  .container
    .announcing__title
      h2 Последние добавленные объявления в Санкт-Петербурге
      h3 В час публикуется около 100500 объявлений.
    .announcing__example
      .row
        .col-md-3
          .announcing__block
            img(src="./img/svgo/announcing__block.png", alt="#")
            .announcing__block__positison
              h4 Комната в аренду в 6-комнатной квартире
              img(src="./img/svgo/info.png", alt="#")
              p Без залога
              img(src="./img/svgo/metro.png", alt="#")
              p Коммендантский проспект
              img(src="./img/svgo/location.png", alt="#")
              p Невский пр-кт, 156, Санкт-Петербург
              .announcing__block__inform
                b 9 000 ₽
                img(src="./img/svgo/like.png", alt="#")
                p В избранное
                img(src="./img/svgo/comment.png", alt="#")
                p 5
        .col-md-3
          .announcing__block
            img(src="./img/svgo/announcing__block.png", alt="#")
            .announcing__block__positison
              h4 Комната в аренду в 6-комнатной квартире
              img(src="./img/svgo/info.png", alt="#")
              p Без залога
              img(src="./img/svgo/metro.png", alt="#")
              p Коммендантский проспект
              img(src="./img/svgo/location.png", alt="#")
              p Невский пр-кт, 156, Санкт-Петербург
              .announcing__block__inform
                b 9 000 ₽
                img(src="./img/svgo/like.png", alt="#")
                p В избранное
                img(src="./img/svgo/comment.png", alt="#")
                p 5
        .col-md-3
          .announcing__block
            img(src="./img/svgo/announcing__block.png", alt="#")
            .announcing__block__positison
              h4 Комната в аренду в 6-комнатной квартире
              img(src="./img/svgo/info.png", alt="#")
              p Без залога
              img(src="./img/svgo/metro.png", alt="#")
              p Коммендантский проспект
              img(src="./img/svgo/location.png", alt="#")
              p Невский пр-кт, 156, Санкт-Петербург
              .announcing__block__inform
                b 9 000 ₽
                img(src="./img/svgo/like.png", alt="#")
                p В избранное
                img(src="./img/svgo/comment.png", alt="#")
                p 5
        .col-md-3
          .announcing__block
            img(src="./img/svgo/announcing__block.png", alt="#")
            .announcing__block__positison
              h4 Комната в аренду в 6-комнатной квартире
              img(src="./img/svgo/info.png", alt="#")
              p Без залога
              img(src="./img/svgo/metro.png", alt="#")
              p Коммендантский проспект
              img(src="./img/svgo/location.png", alt="#")
              p Невский пр-кт, 156, Санкт-Петербург
              .announcing__block__inform
                b 9 000 ₽
                img(src="./img/svgo/like.png", alt="#")
                p В избранное
                img(src="./img/svgo/comment.png", alt="#")
                p 5
    .annoncing__button
      button
        p Все объявления