section.comment
  .container
    .comment__title
      h2 Отзывы про нас
      h3 Мы очень креативные, хорошие и добрые
    .row
      .col-md-6
        .comment__block
          img(src="./img/svgo/fot.png", alt="#")
          .comment__block__text
            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            b Владимир Охотник
      .col-md-6
        .comment__block
          img(src="./img/svgo/fot.png", alt="#")
          .comment__block__text
            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            b Владимир Охотник
      .col-md-6
        .comment__block
          img(src="./img/svgo/fot.png", alt="#")
          .comment__block__text
            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            b Владимир Охотник
      .col-md-6
        .comment__block
          img(src="./img/svgo/fot.png", alt="#")
          .comment__block__text
            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            b Владимир Охотник