section.intro
  .container
    .intro__block
      h1 Снять комнату, квартиру или дом
      form(action="")
        select(name="home")
          option(value="Квартира") Квартира
          option(value="Дом") Дом
          option(value="Комната") Комната
        input(type=search placeholder="Метро")