section.using
  .container
    .using__title
      h2 Как это работает
      h3 Пользоваться нашим сервисом просто и приятно
      .row
        .col-md-4
          .using__block
            button
              p Как найти гнездышко
            button
              p Как сдать гнездышко
        .col-md-1
          .using__block
            div 1
            div 2
            div 3
        .col-md-5
          .using__block 
            b Создайте объявление
            p Создать объявление просто: опишите жилье, укажите, сколько и каких людей вы ждёте, добавьте фотографии, цену, информацию о местоположении, а также можете заполнить дополнительные поля, рассказав побольше о своём гнёздышке.
            b Познакомьтесь поближе
            p Пообщайтесь с потенциальными жильцами до показа гнездышка, познакомьтесь с профилями в социальных сетях, и договоритесь о просмотре. Будьте готовы предоставить все необходимые документы!
            b Приглашайте жильцов!
            p Встретив ваших будущих жильцов познакомьтесь с ними поближе! После знакомства обсудите нюансы и дату въезда, после чего смело заключайте договор. Поздравляем! У вашего гнёздышка появился уютный хранитель.
        