section.wherefore
  .container
    .wherefore__title
      h2 Почему мы?
      h3 Бла-бла-бла какой неистово прикольный текст
      .row
        .col-md-4
          .wherefore__block
            a(href="#")
              img(src="./img/Search.png", alt="")
              .wherefore__block__text
                h4 Уютный поиск
                p Воспользуйтесь удобной формой поиска с множеством фильтров, которых нет в нашей легендарной группе Вконтакте.
        .col-md-4
          .wherefore__block
            a(href="#")
              img(src="./img/men.png", alt="")
              .wherefore__block__text
                h4 Не роботы, а люди
                p Вы сможете найти жильца, близкого по духу, который сохранит уют в вашем гнездышке.
        .col-md-4
          .wherefore__block
            a(href="#")
              img(src="./img/comments.png", alt="")
              .wherefore__block__text
                h4 Жаркие комментарии
                p Под каждым опубликованным объявлением вы сможете поделиться своим мнением с окружающими.
        .col-md-4
          .wherefore__block
            a(href="#")
              img(src="./img/arms.png", alt="")
              .wherefore__block__text
                h4 Разногласия – отстой
                p Зачастую невозможно обойтись без трудностей, как бытовых, так и на уровне самого обычного человеческого общения, но мы поможем вам найти общий язык.
        .col-md-4
          .wherefore__block
            a(href="#")
              img(src="./img/lamp.png", alt="")
              .wherefore__block__text
                h4 Ультрамодерация
                p Мы тщательно проверяем каждое объявление перед публикацией – если предложенный вариант покажется вам недопустимым, вы всегда сможете сообщить нам об этом с помощью кнопки &quot;Пожаловаться&quot;.
        .col-md-4
          .wherefore__block
            a(href="#")
              img(src="./img/wineglass.png", alt="")
              .wherefore__block__text
                h4 Нам 5 лет
                p С 2013 года мы помогаем вам найтись, и практика показала – искренние объявления, описанные в деталях, находят отклик чаще остальных.